body {
    background-image: linear-gradient(90deg,#F7A4A4,10%,#FEBE8C,#FFFBC1);
    background-size: cover;
    background-attachment: fixed;
    height: 200pc
    
}
body::-webkit-scrollbar{
    display: none;
}
html {
    scroll-behavior: smooth;
}
/* Navigation bar */
.Navigation{
    position: absolute;
    width: 440px;
    height: 68px;
    left: 745px;
    top: 110px;
    background-color: #FF9F9F;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #975757;
}
.Navigation li{
    font-size: 27px;
    display: inline;
    transition:ease-out 600ms ;
}
.Navigation li:hover{
    background: #E5D9B6;
    border-style: none;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: white;
    padding: 18px;
}
/* Profile container */
.Profile {
    position: absolute;
    width: 570px;
    height: 650px;
    left: 676px;
    top: 240px;
    background: #f1b1b1;
    border-style: solid;
    border-radius: 30px;
    box-shadow: 5px 8px 5px #8f6767;
}
/* for the background of my profile picture */
.Profile img {
    border-style: none;
    border-radius: 5px;
    margin: 50px 1px 1px 16px;
    box-shadow: 1px 5px 10px rgb(77, 77, 77);
    
}
.Profile figure {
    border-style: solid;
    color: #ffffff;
    border-radius: 10px;

}
.Profile figcaption {
    margin: 100px 1px 1px 83px;
    font-size: 3pc;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    pointer-events: none;
}
/* profile picture */
.profilepic{
    margin: -370px 1px 1px 105px;
}
.profilepic img{
    border-style: none;
    border-radius: 200px;
}
/* my about section */
.about {
    position: absolute;
    width: 80pc;
    height: 910px;
    left: 345px;
    top: 1200px;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 5px 8px 5px #8f6767;
    background: #FF9F9F
}
.about img {
    float: left;
    border-style: solid;
    border-radius: 10px;
    color: #ffffff;
}
.about h1 {
    font-size: 50px;
    color: #ffffff;
    letter-spacing: 20px;
    font-size: 65px;
    letter-spacing: 35px;
    margin-left: 430px;
    margin-bottom: -3pc;
    text-shadow: 3px 3px black;
    pointer-events: none;
}
.about p {
    font-size: 30px;
    color: #ffffff;
    font-style: italic;
    width: 620px;
    margin: 5pc 1pc 1pc 23pc;
    border-style: solid;
    border-radius: 10px;
    padding: 10px 210px 10px 30px;
    pointer-events: none;
    /* padding in order = top right bottom left */
}
.about span {
    color: #f8d6a4;
}
/* Portofolio container */
.portofolio {
    position: absolute;
    width: 45pc;
    height: 600px;
    left: 200px;
    top: 150pc;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 5px 8px 5px #8f6767;
    background: #FF9F9F;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: justify;
}
.portofolio::-webkit-scrollbar{
    display: none;
}
.portofolio h1{
    margin-left: 55px;
    font-size: 65px;
    letter-spacing: 35px;
    color: #ffffff;
    text-shadow: 3px 3px black;
    pointer-events: none;
}
/* The Certificate */
.portofolio img {
    border: solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: ease-in 95ms;
}
.portofolio img:hover{
    width: 530px;
    transition: ease-in 100ms;
}
.portofolio figure {
    display: flex;
    justify-content: center;
}
.portofolio p{
    font-size: 20px;
    color: #ffffff;
    text-shadow: 2px 1px 1px #975757;
    pointer-events: none;
}
.portofolio figcaption {
    margin: 100px 0px 0px 30px;
}
.contact {
    position: absolute;
    width: 45pc;
    height: 600px;
    left: 1000px;
    top: 150pc;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 5px 8px 5px #8f6767;
    background: #FF9F9F;
}
.contact h1 {
    margin-left: 140px;
    font-size: 65px;
    letter-spacing: 35px;
    color: #ffffff;
    text-shadow: 3px 3px black;
    pointer-events: none;
}
.contact a {
    text-decoration: none;
    transition:ease-out 600ms ;
    font-size: 30px;
    padding: 5px 5px 5px 5px;
    border-style: none;
    border-radius: 20px;
}
.contact a:hover{
    background: #E5D9B6;
}
.contact p {
    font-size: 30px;
    color: #ffffff;
    pointer-events: none;
}
.contact img {
    display: flex;
}
.box {
    padding: 20px;
    align-content: center;
    position: absolute;
    border: solid black;
    border-radius: 30px;
    width: 235px;
    height: 232px;
    left: 60px;
    top: 200px;
    background: #d67373;
}
.box2 {
    padding: 20px;
    position: absolute;
    border: solid black;
    border-radius: 30px;
    width: 235px;
    height: 232px;
    left: 390px;
    top: 200px;
    background: #d67373;
}
.box2 a {
    margin: 20px;
}
.box2 img {
    margin-left: 15px;
    padding-bottom: 10px;
}
.box img {
    margin-left: 15px;
    padding-bottom: 10px;
}
.box p{
    margin: 2px 1px 1px 30px;
}
.copyright{
    position: absolute;
    width: 385px;
    height: 50px;
    left: 519px;
    top: 823px;
    border: solid #d67373;
    border-radius: 20px;
    background: #f79a9a;
    text-align: center;
    margin: 145pc 1pc 1pc 16pc;
}
.copyright p{
    background-color: #fac3c3;
    border: none;
    border-radius: 5px;
    padding: 2px;
    
}